:root
{
    --lightbeige: #F8F1E8;
    --darkbeige: #F2DFC7;
    --brown: #A38064;
    --darkbrown: #57473A;
}

body
{
    background-color: var(--lightbeige);
}
h1
{
    color:var(--lightbeige);
}
h2 {
    color: var(--darkbrown);
}
h3{
    color: var(--darkbrown);
    
}
h6{
    color: var(--lightbeige);
}

.andStyle
{
    color: #A16D43;
    font-size: larger;
}

.header-blue{
    background: #73A1B2;
}

.navButton{
    background-color: #F8F1E8;
    color: var(--brown);
    font-family:cursive;
}

.navButton:hover{
    background-color: #F2DFC7;
    color:var(--brown);
}

.activeNavButton
{
    background-color: #F2DFC7;
    color: var(--brown);
}

.iconbuttons
{
     color: var(--lightbeige);
}


.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.cardFormat{
    background-color: var(--darkbeige);
}

.cardDesc
{
    background-color: var(--brown);
    padding:15px;
    
}
    /* color: var(--lightbeige);
} */

.welcome
{
    font-family: cursive;
    font-size: 100px;
    color: var(--darkbrown)
}

.welcome-color
{
    color: var(--darkbrown);
    background-color: var(--darkbeige);
}

.tall
{
    height: 250px;
}
